.row {
    background-color: var(--background-color3);
}

main, footer {
    padding-top: 100px;
}

#about-me, #my-struggles {
    padding: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left; 
    height: max-content;
    margin: auto;
    width: 100%;    
  }
  

  #about-me h2, #about-me p,
  #my-struggles h2, #my-struggles p
  {
    padding: 50px 50px 0;
  }

  div #about-me,  div #my-struggles {
    padding: 0;
    margin: 0;
  }


  @media (max-width: 926px) {

main, footer {
    background-color: var(--backdrop-color);
    padding-top: 0px;
}

#about-me, #my-struggles {
    font-size: 10px;
    text-align: left; 
    height: max-content;
    margin: auto;
    width: 100%;    
}

#about-me h2, #about-me p,
#my-struggles h2, #my-struggles p
{
  padding: 0px 7px;
  font-size: 9px;
  line-height: normal;
}

}

@media (max-width: 650px) and (min-width: 200px)  {
  #about-me p, #my-struggles p {
    padding: 0px 7px;
    font-size: 8px;
    line-height: normal;
  }
  
  
}


  
