#contact-header {
    background-color: var(--background-color2);
    font-style: bold;
    transition-timing-function: ease-in;
    transition-duration: 700ms;
    text-align: center;
    padding: 10px 0; 
}

#contact-page {
    background-color: var(--background-color3);
    font-style: bold;
    transition-timing-function: ease-in;
    transition-duration: 700ms;
    text-align: center;
    padding: 10px 0;
  }

  #contact-header p{
    padding: 30px 25%;
  }

#about-me {
    margin: auto 0;
}

#login-background {
    width:100%;
}



 /* ------------Imported contact form CSS-----------------*/

body{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}

.contact-form{
    background: #fff;
    width: 50%;
    border: none;
    padding: 1.5%;
    background: var(--button-color1);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.contact-form form{
    padding: 30% 5%;
}

.contact-form form .row{
    margin-bottom: -7%;
}

.form-group {
    padding: 5px;
}

.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.btnContact {
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: var(--button-color1);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
 /* ------------End of Imported contact form CSS-----------------*/


@media screen and (max-width: 768px) {
    #login-background {
        display: none;
    }

    .contact-form{
        width: 100%;
    }

    .contact-form form {
        padding: 20% 15%;
    }

}


@media (max-width: 1200px) {
    #contact-header p{
        padding: 0 10px;
      }

    .form-control, input {
        font-size: 0.75rem;
    }
  }
    