#left-column, #right-column {
    text-align: center;
    max-width: 50%;
}


#left-column {
    background-color: var(--background-color4);
}

#right-column {
    background-color: var(--backdrop-color);
}


@media (max-width: 1200px)  {
    #helminth {
      display: block;
    }

    #left-column, #right-column {
        max-width: 100%;
    }
    
    h1 {
        margin: 0;
    }
  }