:root {
  --background-color1: rgb(49, 49, 49);
  --background-color2: rgb(234, 179, 96);
  --background-color3: rgb(202, 188, 168);
  --button-color1: rgb(218, 141, 0);
}


.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#navbar{
  display: flex;
  top: 0;
  right: 0;
  background: var(--background-color1);
  color:white;
  justify-content: right;
}

.navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;  
}

.navbar li{
  display: inline-block;
  margin: auto;
}

.navlist {
  color:white;
  text-decoration: none;
  width: 100%;
  font-weight: bold;
  font-size: 0.6rem;
}

#home {
  color:yellow;
  text-decoration: none;
  width: 100%;
}

.navbar li:hover {
	background: rgb(29, 29, 29);
	font-weight: bold;
	cursor:pointer
}

li {
  margin: 0;
  padding: 0.5rem 1rem;
}

.punchline {
  background-color: var(--background-color2);
  font-style: bold;
  transition-timing-function: ease-in;
  transition-duration: 700ms;
  text-align: center;
  padding: 10px 0;
}

.intro {
  background-image: url(stone-background.jpeg);
}

#bio {
  padding: 20px 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  text-align: center;
  height: max-content;
}

#smoothie {
  width:100%;
  padding: 10px 0;
  height: ;
}

.threesteps {
  background-color: var(--background-color3);
  text-align: center;
  padding: 50px;
}

.process {
  position: relative;
  top: -40px;
  z-index: 1;
}

.process2 {
  position: relative;
  top: 30px;
  z-index: 1;
}

#steps {
  padding: 10px 0;
  margin: 0 30px;
  justify-content: center;
  text-align: center;
}

.button {
  background-color: var(--button-color1);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 0.75rem 5rem;
  border-radius: 20px;
}

.button:hover {
  background-color: rgb(136, 95, 202);
}

.testimonial {
  color: white;
  font-style: italic;
  padding: 100px 0;
}

#fruit {
  overflow: hidden;
  padding: 0;
}

.footer {
  background-color: var(--background-color1);
  color: white;
  text-align: center;
  padding: 100px 0;
}

.email, .mailing {
  padding: 20px 0;
  margin: 0;
  width: 100%;
  margin: 0 0;
}

.mailing {
  justify-content: flex-start;
}

#email {
  padding:0;
}