.container {
  display: flex;
  flex-direction: column;
}

#navbar{
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  background: rgba(5, 4, 68, 0.938);
  color:white;
  justify-content: right;
}

.navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;  
}

.navbar li{
  display: inline-block;
  margin: auto;
}

.navlist {
  color:white;
  text-decoration: none;
  width: 100%;
}

.navbar li:hover {
	background: rgba(3, 2, 44, 0.938);
	font-weight: bold;
	cursor:pointer
}
/* ----------------------MAIN------------------------------- */

main {
  background-color: rgb(209, 214, 214);
}

li {
  font-size: 1.5rem;
  margin: 0;
  padding: 2rem;
}

#logo {
  width: 100%;
  height: 98vh;
}

#about {
  text-align: center;
}

#about li {
  list-style-type: none;
}